.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #222;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 0.16rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.32rem;
  padding: 0 0.2rem;
  margin-bottom: 0.16rem;

  svg {
    width: 0.12rem;
    height: 0.12rem;
    color: #6f6c90;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: #db00ff;
    }
  }
}

.coll-tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.16rem;
  height: 0.52rem;
  & > div {
    display: flex;
    align-items: center;
    gap: 0 0.12rem;

    &:nth-of-type(1) {
      & > div {
        line-height: 1;
        display: flex;
        align-items: center;
        color: #222;

        &:nth-of-type(1) {
          font-size: 0.14rem;
          font-weight: 400;

          img {
            display: block;
            width: 0.18rem;
            margin-right: 0.1rem;
            border-radius: 50%;
          }
        }

        &:nth-of-type(2) {
          font-size: 0.12rem;
          font-weight: 500;
          letter-spacing: 0.4px;

          img {
            display: block;
            width: 0.14rem;
            height: 0.14rem;
            border-radius: 50%;
            margin-right: 0.08rem;
          }

          span {
            color: rgba(34, 34, 34, 0.6);
          }
        }
      }
    }

    &:nth-of-type(2) {
      & > div {
        display: flex;
        align-items: center;
        &:nth-of-type(1) {
          height: 0.24rem;
          padding: 0 0.08rem;
          border-radius: 0.08rem;
          font-size: 0.11rem;
          font-weight: 400;
          line-height: 1;
          img {
            display: block;
            width: 0.12rem;
            margin-right: 0.04rem;
          }
        }
        &:nth-of-type(2) {
          color: #a4aebc;
          transition: all 0.2s;
          svg {
            width: 0.16rem;
            height: 0.16rem;
            transition: all 0.2s;
          }
          &:hover {
            color: #fc72ff;
          }
        }
      }
    }
  }
}

.icon-success {
  color: #2bcd23;
  background: rgba(43, 205, 35, 0.1);
}

.icon-error {
  color: #eb0707;
  background: rgba(235, 7, 7, 0.1);
}

.icon-pend {
  color: #ee9226;
  background: #fbf8da;
}

.icon-rotate {
  svg {
    transform: rotate(180deg);
  }
}

.label-txt {
  font-size: 0.11rem;
  font-weight: 500;
  line-height: 218.182%;
  color: #7d7d7d;
  margin-bottom: 0.02rem;
}

.value-txt {
  background-color: #f9f9f9;
  padding: 0.12rem;
  border-radius: 0.16rem;
  font-size: 0.12rem;
  font-weight: 400;
  line-height: 150%;
  color: #222;
  margin-bottom: 0.04rem;
  height: auto;
  position: relative;

  &.hidden {
    div {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
    svg {
      transform: rotate(0deg);
    }
  }
  svg {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    width: 0.16rem;
    height: 0.16rem;
    cursor: pointer;
    transition: all 0.2s;
    transform: rotate(180deg);
    transform-origin: center center;
    &:hover {
      color: #fc72ff;
    }
  }
}

.info-group {
  display: flex;
  flex-direction: column;
  gap: 0.08rem 0;
  border-radius: 0.16rem;
  border: 1px solid #efefef;
  background: #fff;
  padding: 0.12rem;
  margin-top: 0.12rem;

  & > div {
    font-size: 0.12rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.4px;
    color: rgb(125, 125, 125, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 0.18rem;

    & > div {
      display: flex;
      align-items: center;
      line-height: 1;
      letter-spacing: 0.4px;
      font-size: 0.12rem;
      font-weight: 400;
    }
  }
}

.num-txt {
  font-weight: 500;
  color: #061c41;

  img {
    display: block;
    width: 0.14rem;
    height: 0.14rem;
    border-radius: 50%;
    margin-right: 0.04rem;
  }
}

.txn-txt {
  color: #fc72ff;
  cursor: pointer;

  svg {
    width: 0.08rem;
    height: 0.12rem;
    cursor: pointer;
    margin-left: 0.04rem;
    color: #222222;
  }
}

.time-txt {
  color: #222;
}

@media screen and (max-width: 768px) {
  .coll-tit {
    & > div {
      gap: 0 0.08rem;
      &:nth-of-type(1) {
        & > div {
          &:nth-of-type(1),
          &:nth-of-type(2) {
            img {
              margin-right: 0.04rem;
            }
          }
        }
      }
      &:nth-of-type(2) {
        & > div {
          &:nth-of-type(2) {
            svg {
              width: 0.12rem;
              height: 0.12rem;
            }
          }
        }
      }
    }
  }
}
