.full {
  overflow-x: hidden;
  padding: 0.56rem 0;
  height: 100%;
  background-image: url("/images/home/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: scroll;
}

.container {
  width: 10.64rem;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.tit {
  color: #fff;
  font-size: 0.32rem;
  font-weight: 700;
  line-height: 168.75%;
  margin-bottom: 0.4rem;
}

.empty {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem 0;

    color: #fff;
    font-size: 0.16rem;
    font-weight: 600;
    line-height: 150%;

    img {
      display: block;
      width: 1.12rem;
    }
  }
}

////

.group {
  display: flex;
  flex-direction: column;
  gap: 0.16rem 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.24rem;
  color: #fff;
  background: linear-gradient(237deg, #69a9c7 -2.25%, rgba(0, 0, 0, 0) 17.44%), linear-gradient(300deg, #d876f5 3.22%, rgba(0, 0, 0, 0) 64.32%), linear-gradient(127deg, #9a5de4 -9.88%, rgba(51, 49, 54, 0) 100.66%);
  padding: 1px;
  position: relative;
}

.data-item {
  border-radius: 0.24rem;
  width: 100%;
  height: 100%;
  background: #2a283a;
  overflow: hidden;
  padding: 0.16rem 0.24rem;
}

.item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-lf {
  display: flex;
  align-items: center;
  gap: 0 0.16rem;
}

.lf-img {
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f152e;
  position: relative;
  & > img {
    display: block;
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: #0f152e;
  }
}

.lf-txt {
  & > div {
    &:nth-of-type(1) {
      color: #fff;
      font-size: 0.2rem;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 0.04rem;
    }

    &:nth-of-type(2) {
      color: #ebebeb;
      font-size: 0.12rem;
      font-weight: 400;
      line-height: 200%;
    }
  }
}

.top-rt {
  display: flex;
  align-items: center;
  gap: 0 1.4rem;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.04rem 0;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      & > div {
        &:nth-of-type(1) {
          color: rgba(255, 255, 255, 0.6);
          font-size: 0.12rem;
          font-weight: 400;
          line-height: 200%;
          letter-spacing: 0.4px;
        }
      }
    }

    &:nth-of-type(1) {
      & > div:nth-of-type(2) {
        color: #fff;
        font-size: 0.14rem;
        font-weight: 400;
        line-height: 171.429%;
      }
    }

    &:nth-of-type(2) {
      & > div:nth-of-type(2) {
        display: flex;
        align-items: center;
        gap: 0 0.08rem;
        color: #17fb9b;
        font-size: 0.14rem;
        font-weight: 700;
        line-height: 171.429%;
        letter-spacing: 0.4px;
      }
    }

    &:nth-of-type(3) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0.24rem;
      height: 0.24rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.12);
      cursor: pointer;
      transition: all 0.2s;

      img {
        display: block;
        max-width: 80%;
        transition: all 0.2s;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.32);
      }
    }
  }
}

.more-item {
  border-radius: 0px 0px 0.24rem 0.24rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  // transition: opacity 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, position 178ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: 0 0;
  transform: scaleY(0);
  opacity: 0;
  position: absolute;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #333241;
    border-radius: 0px 0px 0.24rem 0.24rem;
  }

  & > div {
    width: 100%;
    height: 100%;
    background: rgba(103, 103, 108, 0.15);
    backdrop-filter: blur(22px);
    border-radius: 0px 0px 0.24rem 0.24rem;
    padding: 0.16rem 0.24rem 0.24rem;
    display: flex;
    gap: 0 0.16rem;

    & > div {
      width: 100%;
      border-radius: 0.12rem;
      border: 1px solid rgba(235, 235, 235, 0.32);
      padding: 0.16rem;
    }
  }
}

.card-1,
.card-2 {
  & > div {
    &:nth-of-type(1) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.12rem;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.4px;
      margin-bottom: 0.04rem;
      & > div {
        svg {
          width: 0.12rem;
          height: 0.12rem;
          cursor: pointer;
          transition: all 0.2s;
          color: #ebebeb;

          &:hover {
            color: #17fb9b;
          }
        }
      }
    }

    &:nth-of-type(2) {
      color: #fff;
      font-size: 0.12rem;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.card-3 {
  display: flex;
  flex-direction: column;
  row-gap: 0.12rem;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.12rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      & > div {
        display: flex;
        align-items: center;

        & > img {
          display: block;
          width: 0.14rem;
          height: 0.14rem;
          border-radius: 50%;
          margin-right: 0.06rem;
        }

        & > span {
          color: #fff;
          font-weight: 600;
        }
      }
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      & > div {
        display: flex;
        align-items: center;
        color: #17fb9b;

        & > span {
          cursor: pointer;
          transition: all 0.2s;
          border-bottom: 1px solid transparent;
          &:hover {
            border-color: #17fb9b;
          }
        }

        i {
          margin-left: 0.06rem;
        }

        svg {
          width: 0.12rem;
          height: 0.12rem;
          cursor: pointer;
          transition: all 0.2s;
          color: #ebebeb;

          &:hover {
            color: #17fb9b;
          }
        }
      }
    }
  }
}

.open-item {
  .data-item {
    border-radius: 0.24rem 0.24rem 0 0;
  }

  .more-item {
    opacity: 1;
    transform: scaleY(1);
    position: relative;
  }

  .top-rt {
    & > div {
      &:nth-of-type(3) {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.load-item {
  .data-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      &:nth-of-type(1) {
        display: flex;
        align-items: center;
        & > div {
          &:nth-of-type(1) {
            width: 0.64rem;
            height: 0.64rem;
            border-radius: 50%;
            margin-right: 0.16rem;
            & > div {
              width: 100% !important;
              height: 100% !important;
              border-radius: 50%;

              svg {
                max-width: 50%;
              }
            }
          }

          &:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            gap: 0.04rem 0;

            & > div {
              height: 0.24rem;
              span {
                height: 100%;
                border-radius: 0.06rem;
                min-width: auto;
              }

              &:nth-of-type(1) {
                width: 1rem;
              }
              &:nth-of-type(2) {
                width: 3rem;
              }
            }
          }
        }
      }

      &:nth-of-type(2) {
        display: flex;
        align-items: center;
        column-gap: 1.4rem;

        & > div {
          display: flex;
          flex-direction: column;
          row-gap: 0.04rem;
        }

        &:nth-of-type(1),
        &:nth-of-type(2) {
          & > div {
            & > div {
              height: 0.24rem;

              span {
                height: 100%;
                border-radius: 0.06rem;
                min-width: auto;
              }

              &:nth-of-type(1) {
                width: 0.3rem;
              }
              &:nth-of-type(2) {
                width: 0.85rem;
              }
            }
          }
        }

        &:nth-of-type(3) {
          & > div {
            width: 0.46rem;
            height: 0.24rem;
            span {
              height: 100%;
              border-radius: 0.06rem;
              min-width: auto;
            }
          }
        }
      }
    }
  }
}

.no-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  & > img {
    display: block;
    width: 0.48rem;
    margin-bottom: 0.12rem;
  }
}

.wallet-txt {
  color: #fff;
  text-align: center;
  font-size: 0.16rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0.24rem;
}

.wallet-btn {
  & > div {
    button {
      width: 2.6rem;
      height: 0.4rem;
      border-radius: 0.16rem;
      border: none;
      color: #fff;
      background: linear-gradient(48deg, #9945ff 0.57%, #8a53f4 14.41%, #6377d6 42.09%, #24b0a7 78.67%, #00d18c 98.45%, #00d18c 99.43%);
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.22);
      font-size: 0.14rem;
      justify-content: center;
      font-family: "IBM Plex Mono";
      &:active {
        color: #fff !important;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%), linear-gradient(48deg, #9945ff 0.57%, #8a53f4 14.41%, #6377d6 42.09%, #24b0a7 78.67%, #00d18c 98.45%, #00d18c 99.43%) !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .full {
    padding: 1.28rem 0.16rem 0.48rem;
  }

  .tit {
    font-size: 0.24rem;
    line-height: 1px;
  }

  .data-item {
    padding: 0.3rem 0.14rem;
  }

  .item-top {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.16rem;
  }

  .top-lf {
    gap: 0 0.08rem;
  }

  .lf-img {
    width: 0.48rem;
    height: 0.48rem;
  }

  .lf-txt {
    & > div {
      &:nth-of-type(1) {
        font-size: 0.14rem;
      }
      &:nth-of-type(2) {
        line-height: 150%;
      }
    }
  }

  .top-rt {
    column-gap: 0.77rem;
    & > div {
      &:nth-of-type(3) {
        position: absolute;
        top: 0.43rem;
        right: 0.14rem;
      }
    }
  }

  .more-item {
    & > div {
      flex-direction: column;
      row-gap: 0.12rem;
      padding: 0.13rem 0.13rem 0.23rem;
    }
  }
}
