.full {
  overflow-x: hidden;
  padding: 0.56rem 0;
  height: 100%;
  background-image: url("/images/gears/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 10.64rem;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.tit {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
    &:nth-of-type(1) {
      font-size: 0.32rem;
      font-weight: 700;
      line-height: 168.75%;
      color: #fff;
      margin-bottom: 0.4rem;

      span {
        font-size: 0.24rem;
        padding-left: 0.1rem;
      }
    }
  }
}

.rt-create {
  width: 1.26rem;
  height: 0.38rem;
  justify-content: center;
  border-radius: 0.16rem;
  background: linear-gradient(48deg, #9945ff 0.57%, #8a53f4 14.41%, #6377d6 42.09%, #24b0a7 78.67%, #00d18c 98.45%, #00d18c 99.43%);
  column-gap: 0.08rem;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 0.16rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;

  svg {
    width: 0.16rem;
    height: 0.16rem;
  }

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%), linear-gradient(48deg, #9945ff 0.57%, #8a53f4 14.41%, #6377d6 42.09%, #24b0a7 78.67%, #00d18c 98.45%, #00d18c 99.43%);
  }
}

.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  // display: flex;
  // flex-flow: column wrap;

  gap: 0.16rem;
}

.create {
  cursor: pointer;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.16rem !important;
    width: 100%;
    height: 100%;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 0.16rem;
      font-weight: 600;

      svg {
        margin-bottom: 0.12rem;
      }
    }
  }
}

.item {
  // width: 3.44rem;
  border-radius: 24px;
  border: 2px solid rgba(80, 156, 211, 0.8);
  min-height: 2.82rem;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: rgba(219, 210, 224, 0.16);
  backdrop-filter: blur(33px);

  &::after {
    content: "";
    width: 4.17rem;
    height: 2.51rem;
    position: absolute;
    bottom: -1.75rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4.17rem;
    background: linear-gradient(117deg, rgba(200, 243, 132, 0.8) 16.95%, rgba(30, 80, 255, 0.8) 94.94%);
    filter: blur(50px);
  }
}

.item-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.18rem;
  & > div {
    &:nth-of-type(1) {
      display: flex;
      align-items: center;

      & > img {
        display: block;
        width: 0.48rem;
        height: 0.48rem;
        margin-right: 0.08rem;
        border-radius: 50%;
      }

      & > div {
        & > div {
          &:nth-of-type(1) {
            color: #fff;
            font-size: 0.18rem;
            font-weight: 600;
            line-height: 155.556%;
          }

          &:nth-of-type(2) {
            display: flex;
            align-items: center;
            color: #17fb9b;
            font-size: 0.12rem;
            font-weight: 600;
            line-height: 150%;
            span {
              cursor: pointer;
              transition: all 0.2s;
              border-bottom: 1px solid transparent;
              &:hover {
                border-color: #17fb9b;
              }
            }
            i {
              color: #fff;
              cursor: pointer;

              &:hover {
                color: #17fb9b !important;
              }
            }
          }
        }
      }
    }

    &:nth-of-type(2) {
      & > img {
        display: block;
        width: 0.32rem;
        height: 0.32rem;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          // transform: rotate(180deg);
        }
      }
    }
  }
}

.des {
  color: rgba(235, 235, 235, 0.8);
  font-size: 0.12rem;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 0.24rem;
  min-height: 0.48rem;
}

.reward {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0.32rem;

  & > div {
    display: flex;
    align-items: center;
    column-gap: 0.08rem;

    color: #fff;
    -webkit-text-stroke-width: 0.4000000059604645;
    -webkit-text-stroke-color: #fff;
    font-size: 0.2rem;
    font-weight: 600;

    & > img {
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      border-radius: 50%;
    }
  }
}

.info {
  padding-top: 0.42rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ebebeb;
    font-size: 0.14rem;
    font-weight: 400;
    line-height: 171.429%;

    & > div {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 0.12rem;
      font-weight: 600;
    }

    &:nth-of-type(1) {
      & > div {
        & > img {
          display: block;
          width: 0.14rem;
          height: 0.14rem;
          border-radius: 50%;
          margin-right: 0.08rem;
        }
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      & > div {
        color: #17fb9b;
        letter-spacing: 0.4px;

        span {
          cursor: pointer;
          transition: all 0.2s;
          border-bottom: 1px solid transparent;
          &:hover {
            border-color: #17fb9b;
          }
        }

        & > i {
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #17fb9b !important;
          }
        }
      }
    }
  }
}
.see {
  font-style: normal;
  display: flex;
  align-items: center;
  width: 0.12rem;
  height: 0.12rem;
  color: #fff;
  transition: all 0.2s;
  margin-left: 0.04rem;
  cursor: pointer;
  &:hover {
    color: #17fb9b !important;
  }
}
.claim-btn {
  height: 0.4rem;
  border-radius: 0.24rem;
  border: none;
  color: #fff;
  background: linear-gradient(48deg, #9945ff 0.57%, #8a53f4 14.41%, #6377d6 42.09%, #24b0a7 78.67%, #00d18c 98.45%, #00d18c 99.43%);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.22);

  &:disabled {
    color: #fff !important;
    background: rgba(133, 123, 139, 0.5) !important;
    &:hover {
      color: #fff !important;
      background: rgba(133, 123, 139, 0.5) !important;
    }
  }

  &:hover {
    color: #fff !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%), linear-gradient(48deg, #9945ff 0.57%, #8a53f4 14.41%, #6377d6 42.09%, #24b0a7 78.67%, #00d18c 98.45%, #00d18c 99.43%) !important;
  }
}

.flipped-icon {
  position: absolute;
  z-index: 3;
  top: 0.2rem;
  right: 0.16rem;
  cursor: pointer;

  img {
    display: block;
    width: 0.22rem;
    height: 0.22rem;
  }
}

.item-front,
.item-back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  backface-visibility: hidden;
  transition: transform 0.4s ease 0s;
  padding: 0.16rem 0.16rem 0.24rem;
}

.item-back {
  transform: rotateY(180deg);
}

.item-flipped .item-front {
  transform: rotateY(180deg);
}

.item-flipped .item-back {
  transform: rotateY(0);
}

.load-item {
  & > div {
    width: 100%;
    height: 100%;
    padding: 0.16rem;
    & > div {
      &:nth-of-type(1) {
        display: flex;
        align-items: center;
        margin-bottom: 0.18rem;
        & > div {
          flex-shrink: 0;
          &:nth-of-type(1) {
            width: 0.64rem;
            height: 0.64rem;
            border-radius: 50%;
            margin-right: 0.16rem;
            & > div {
              width: 100% !important;
              height: 100% !important;
              border-radius: 50%;
              svg {
                max-width: 50% !important;
              }
            }
          }

          &:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            gap: 0.04rem 0;

            & > div {
              height: 0.24rem;
              span {
                height: 100%;
                border-radius: 0.06rem;
                min-width: auto;
              }

              &:nth-of-type(1) {
                width: 1.54rem;
              }
              &:nth-of-type(2) {
                width: 1rem;
              }
            }
          }
        }
      }
      &:nth-of-type(2) {
        height: 0.48rem !important;
        span {
          border-radius: 0.06rem !important;
          height: 0.24rem !important;
        }
      }

      &:nth-of-type(3) {
        height: 0.32rem !important;
        margin-bottom: 0.24rem;
        display: flex;
        align-items: center;
        span {
          border-radius: 0.06rem !important;
          height: 0.24rem !important;
        }
      }

      &:nth-of-type(4) {
        height: 0.4rem !important;
        span {
          border-radius: 0.06rem !important;
          height: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .full {
    padding: 1.28rem 0.16rem 0.48rem;
  }
  .tit {
    font-size: 0.24rem;
    line-height: 1px;
  }
  .group {
    grid-template-columns: repeat(1, 1fr);
  }
}
