._container {
  width: 12.9rem;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: calc(100% - 0.3rem);
  }
}

._flex {
  display: flex;
}

._flex-column-center {
  align-items: center;
}

._flex-row-center {
  justify-content: center;
}

._flex-space-between {
  justify-content: space-between;
}

._relative {
  position: relative;
}

#nprogress .bar {
  border-radius: 2px;
  background: radial-gradient(168.37% 104.25% at -35.42% 45.83%, #cb5cff 0%, #fcde91 37.32%, rgba(251, 109, 58, 0.8) 100%) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgba(251, 109, 58, 0.8), 0 0 5px rgba(251, 109, 58, 0.8) !important;
}

._plus {
  width: var(--pWidth);
  height: var(--pHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: var(--pLeft);
  top: var(--pTop);
  border-radius: 50%;
  z-index: 99;
  @media screen and (max-width: 768px) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.connect-wallet-btn {
  color: #fc72ff;
  background: #ffefff;
  border: none;
  box-shadow: none;
  &:active {
    color: #fc72ff !important;
  }

  &:hover {
    color: #fc72ff !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), #ffefff;
  }
}

@keyframes moveY {
  to {
    transform: translateY(var(--pY));
  }
}

@keyframes moveX {
  to {
    transform: translateX(var(--pX));
  }
}

._plus {
  animation: moveY 0.6s cubic-bezier(1, 0.18, 1, 1);
}

._plus {
  img {
    animation: moveX 0.6s linear;
  }
}

///
.wallet-adapter-dropdown {
  .wallet-adapter-button {
    border-radius: 0.32rem;
    height: 0.4rem;
    padding: 0 0.16rem;
    color: #07071c;
    font-size: 0.14rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    @media screen and (max-width: 768px) {
      font-size: 0.12rem;
    }

    &:hover {
      background: #c4cbd4 !important;
    }

    &.wallet-adapter-button-trigger {
      background: #fbfbfb;
    }
  }
}
